*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$body-ff:'Chivo', sans-serif;
$button-ff: 'Charmonman', cursive;

html{
    font-size: 10px;
    body{
        font-family: $body-ff;
        color: #fff;
        letter-spacing: 1px;
        a{
            text-decoration: none;
            color: #fff;
            display: block;
        }
        section{
            width: 100%;
            height: 100vh;
            display: flex;
            text-align: center;
            background-color: #888;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.explore-btn{
    font-family: $button-ff;
    text-transform: uppercase;
}

// welcome page

.welcome-page{
    background-color: #222;
    justify-content: center;
    padding: 0 1rem;
    h1{
        font-size: 2.6rem;
        line-height: 1.4;
    }
    .explore-btn{
        margin-top: 2rem;
        padding: .9rem 2.5rem .6rem 1.5rem;
        border: 1px solid rgba(255,255,255,.4);
        font-size: 2rem;
    }
}

/* Structure components start */
// header
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #222;
    padding: 1rem 0;
    #desktop-tips{
        display: none;
    }
    .hamburger{
        width: 5.5rem;
        position: relative;
        padding: 1rem;
        z-index: 9;
        cursor: pointer;
        div{
            height: 4px;
            border-radius: 4px;
            background-color: #fff;
        }
        .bar1{
            width: 40%;
            margin-bottom: .5rem;
        }
        .bar2{
            width: 70%;
            margin-bottom: .5rem;
        }
        .bar3{
            width: 100%;
        }
    }
}
// arrows
.right,
.left{
    position: absolute;
    bottom: 1.8rem;
    a{
        padding: 1rem;
        i{
            font-size: 2.4rem;
        }
    }
}
.right{
    right: 1rem;
}
.left{
    left: 1rem;
}
// current page
.current-page{
    margin-bottom: 2.8rem;
    a{
        display: inline-block;
        margin: 0 .5rem;
        i{
            font-size: 2.4rem;
            color: #ddd;
        }
    }
    a.active{
        border: 2.5px solid #ddd;
        border-radius: 50%;
        i{
            color: transparent;
        }
    }
}
// desktop menu
#desktop-menu{
    display: none;
}
// mobile menu
#mobile-menu{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    transition: .3s ease;
    &.active{
        transform: translateX(0%);
    }
    .mobile-tips{
        text-align: left;
        margin-top: 6rem;
        a{
            padding: 1rem 0;
            font-size: 3rem;
        }
    }
    .middle-line{
        width: 100%;
        background-color: rgba(255,255,255,.4);
        height: 2px;
        margin: 3rem 0;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-color: rgba(255, 255, 255, 0.4);
            width: 2px;
            height: 1rem;
            bottom: -1rem;
            left: 0;
        }
        &::after{
            content: "";
            position: absolute;
            background-color: rgba(255, 255, 255, 0.4);
            width: 2px;
            height: 1rem;
            top: -1rem;
            right: 0;
        }
    }
    .contact{
        p{
            font-size: 2.8rem;
        }
        i{
            font-size: 2.4rem; 
            padding: 1rem;
        }
        .mail{
            margin-top: 1rem;
        }
    }
}
/* Structure components start */


/* Main components start */
.australia{
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)),
    url('./img/australia-mobile.jpg') no-repeat;
}
.vietnam{
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)),
    url('./img/vietnam-mobile.jpg') no-repeat;
}
.indonesia{
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)),
    url('./img/indonesia-mobile.jpg') no-repeat;
}
.malaysia{
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)),
    url('./img/malaysia-mobile.jpg') no-repeat;
}
.thailand{
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.4), rgba(10, 8, 0, 0.5)),
    url('./img/thailand-mobile.jpg') no-repeat;
}
.australia,
.vietnam,
.indonesia,
.malaysia,
.thailand{
    background-position: center;
    background-size: cover;
}

.content{
    text-transform: uppercase;
    letter-spacing: 2px;
    h1{
        font-size: 5.2rem;
    }
    .explore-btn{
        margin-top: 1rem;
        border: 2px solid rgba(255,255,255,.4);
        font-size: 2.4rem;
        display: inline-block;
        background-color: rgba(0,0,0,.4);
        a{
            padding: 1.1rem 2rem .8rem 2rem;
        }
    }
}
/* Main components end */

/* More components start */
.more-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1.5rem;
    line-height: 1.4;
    letter-spacing: 1px;
    background-color: #222;
    h1{
        font-size: 2.6rem;
        text-align: center;
    }
    p{
        font-size: 1.8rem;
        text-align: justify;
        margin: 2rem 0;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 0px;
        grid-row-gap: 1.5rem;
        img{
            width: 100%;
            object-fit: contain;
        }
    }
}
/* More components start */


/* Media queries */

@media (min-width: 765px){
    .welcome-page{
        h1{
            font-size: 3.6rem;
            line-height: 1.6;
        }
        .explore-btn{
            margin-top: 2.5rem;
            padding: 1rem 3.5rem .8rem 2rem;
            font-size: 3.2rem;
        }
    }


    #mobile-menu{
        .mobile-tips{
            margin-top: 6rem;
            a{
                padding: 1.5rem 1rem;
                font-size: 4.6rem;
            }
        }
        .middle-line{
            &::before{
                height: 2.5rem;
                bottom: -2.5rem;
            }
            &::after{
                height: 2.5rem;
                top: -2.5rem;
            }
        }
        .contact{
            p{
                font-size: 4.6rem;
            }
            i{
                font-size: 3.8rem; 
            }
            .mail{
                margin-top: 2.5rem;
            }
        }
    }


    #header{
        padding: 2rem 1rem;
        .hamburger{
            width: 7rem;
            padding: 1rem;
            cursor: pointer;
            div{
                height: 7px;
                border-radius: 4px;
                background-color: #fff;
            }
            .bar1{
                width: 40%;
                margin-bottom: .7rem;
            }
            .bar2{
                width: 70%;
                margin-bottom: .7rem;
            }
            .bar3{
                width: 100%;
            }
        }
    }

    .content{
        h1{
            font-size: 8.4rem;
            letter-spacing: 5px;
        }
        .explore-btn{
            margin-top: 1rem;
            font-size: 3.8rem;
            a{
                padding: 1rem 2rem .8rem 2rem;
            }
        }
    }

    .current-page{
        margin-bottom: 2.8rem;
        a{
            margin: 0 1rem;
            i{
                font-size: 3.6rem;
            }
        }
    }

    .right,
    .left{
        bottom: 2.2rem;
        a{
            i{
                font-size: 3.6rem;
            }
        }
    }
    .right{
        right: 2rem;
    }
    .left{
        left: 2rem;
    }

    .more-container{
        h1{
            font-size: 4.6rem;
            letter-spacing: 4px;
        }
        p{
            font-size: 2.8rem;
            text-align: justify;
            margin: 3rem 0;
        }
    }
}


@media (min-width: 1024px){
    #header{
        .hamburger{
            div{
                height: 6px;
            }
        }
        #desktop-tips{
            display: flex;
            a{
                font-size: 2.4rem;
                padding: .5rem 1.5rem;
            }
        }
    }
    .content{
        h1{
            font-size: 8.4rem;
            letter-spacing: 5px;
        }
        .explore-btn{
            margin-top: 1rem;
            font-size: 3.4rem;
            a{
                padding: .8rem 1.5rem .6rem 1.5rem;
            }
        }
    }
    .right,
    .left{
        bottom: 1.6rem;
        a{
            i{
                font-size: 3.2rem;
            }
        }
    }
    .current-page{
        margin-bottom: 2.5rem;
        a{
            margin: 0 1rem;
            i{
                font-size: 3.2rem;
            }
        }
    }
    #mobile-menu{
        display: none;
    }
    #desktop-menu{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateX(-101%);
        height: 25vh;
        background-color: #222;
        justify-content: center;
        align-items: center;
        transition: .3s ease;
        &.active{
            transform: translateX(0%); 
        }
        .contact{
            display: flex;
            div{
                margin: 0 2rem;
            }
            p{
                font-size: 3.2rem;
            }
            i{
                font-size: 2.4rem;
                padding: 1rem;
            }

        }
    }
    
}