* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

html body {
  font-family: "Chivo", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  background-color: #000;
}

html body a {
  text-decoration: none;
  color: #fff;
  display: block;
}

html body section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #888;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore-btn {
  font-family: "Charmonman", cursive;
  text-transform: uppercase;
}

.welcome-page {
  background: -webkit-gradient(linear, left top, right top, from(#0f2027), to(#203a43));
  background: linear-gradient(to right, #0f2027, #203a43);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

.welcome-page h1 {
  font-size: 2.6rem;
  line-height: 1.4;
}

.welcome-page .explore-btn {
  margin-top: 2rem;
  padding: .9rem 2.5rem .6rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 2rem;
}

/* Structure components start */
#header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

#header #desktop-tips {
  display: none;
}

#header .hamburger {
  width: 5.5rem;
  position: relative;
  padding: 1rem;
  z-index: 9;
  cursor: pointer;
}

#header .hamburger div {
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
}

#header .hamburger .bar1 {
  width: 40%;
  margin-bottom: .5rem;
}

#header .hamburger .bar2 {
  width: 70%;
  margin-bottom: .5rem;
}

#header .hamburger .bar3 {
  width: 100%;
}

.right,
.left {
  position: absolute;
  bottom: 1.8rem;
}

.right a,
.left a {
  padding: 1rem;
}

.right a i,
.left a i {
  font-size: 2.4rem;
}

.right {
  right: 1rem;
}

.left {
  left: 1rem;
}

.current-page {
  margin-bottom: 2.8rem;
}

.current-page a {
  display: inline-block;
  margin: 0 .5rem;
}

.current-page a i {
  font-size: 2.4rem;
  color: #ddd;
}

.current-page a.active {
  border: 2.5px solid #ddd;
  border-radius: 50%;
}

.current-page a.active i {
  color: transparent;
}

#desktop-menu {
  display: none;
}

#mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#081114), to(#0f232a));
  background: linear-gradient(to right, #081114, #0f232a);
  width: 100%;
  height: 100vh;
  z-index: 2;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

#mobile-menu.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#mobile-menu .mobile-tips {
  text-align: left;
  margin-top: 6rem;
}

#mobile-menu .mobile-tips a {
  padding: 1rem 0;
  font-size: 3rem;
}

#mobile-menu .middle-line {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  height: 2px;
  margin: 3rem 0;
  position: relative;
}

#mobile-menu .middle-line::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 2px;
  height: 1rem;
  bottom: -1rem;
  left: 0;
}

#mobile-menu .middle-line::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 2px;
  height: 1rem;
  top: -1rem;
  right: 0;
}

#mobile-menu .contact p {
  font-size: 2.8rem;
}

#mobile-menu .contact i {
  font-size: 2.4rem;
  padding: 1rem;
}

#mobile-menu .contact .mail {
  margin-top: 1rem;
}

/* Structure components start */
/* Main components start */
.australia {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/australia-mobile.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/australia-mobile.jpg") no-repeat;
}

.vietnam {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/vietnam-mobile.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/vietnam-mobile.jpg") no-repeat;
}

.indonesia {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/indonesia-mobile.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/indonesia-mobile.jpg") no-repeat;
}

.malaysia {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/malaysia-mobile.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/malaysia-mobile.jpg") no-repeat;
}

.thailand {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.4)), to(rgba(10, 8, 0, 0.5))), url("./img/thailand-mobile.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 6, 15, 0.4), rgba(10, 8, 0, 0.5)), url("./img/thailand-mobile.jpg") no-repeat;
}

.australia,
.vietnam,
.indonesia,
.malaysia,
.thailand {
  background-position: center;
  background-size: cover;
}

.content {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content h1 {
  font-size: 5.2rem;
}

.content .explore-btn {
  margin-top: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.4);
  font-size: 2.4rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.4);
}

.content .explore-btn a {
  padding: .6rem 1.5rem .3rem 1.5rem;
}

/* Main components end */
/* More components start */
.more-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem 1.5rem;
  line-height: 1.4;
  letter-spacing: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#0f2027), to(#203a43));
  background: linear-gradient(to right, #0f2027, #203a43);
}

.more-container h1 {
  font-size: 2.6rem;
  text-align: center;
}

.more-container p {
  font-size: 1.8rem;
  text-align: justify;
  margin: 2rem 0;
}

.more-container .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.more-container .gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.more-container .gallery .pic1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / 6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.more-container .gallery .pic2 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.more-container .gallery .pic3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / 9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

/* Media queries */
@media (min-width: 765px) {
  .welcome-page h1 {
    font-size: 3.6rem;
    line-height: 1.6;
  }
  .welcome-page .explore-btn {
    margin-top: 2.5rem;
    padding: 1rem 3.5rem .8rem 2rem;
    font-size: 3.2rem;
  }
  #mobile-menu .mobile-tips {
    margin-top: 6rem;
  }
  #mobile-menu .mobile-tips a {
    padding: 1.5rem 1rem;
    font-size: 4.6rem;
  }
  #mobile-menu .middle-line::before {
    height: 2.5rem;
    bottom: -2.5rem;
  }
  #mobile-menu .middle-line::after {
    height: 2.5rem;
    top: -2.5rem;
  }
  #mobile-menu .contact p {
    font-size: 4.6rem;
  }
  #mobile-menu .contact i {
    font-size: 3.8rem;
  }
  #mobile-menu .contact .mail {
    margin-top: 2.5rem;
  }
  #header {
    padding: 2rem 1rem;
  }
  #header .hamburger {
    width: 7rem;
    padding: 1rem;
    cursor: pointer;
  }
  #header .hamburger div {
    height: 7px;
    border-radius: 4px;
    background-color: #fff;
  }
  #header .hamburger .bar1 {
    width: 40%;
    margin-bottom: .7rem;
  }
  #header .hamburger .bar2 {
    width: 70%;
    margin-bottom: .7rem;
  }
  #header .hamburger .bar3 {
    width: 100%;
  }
  .content h1 {
    font-size: 8.4rem;
    letter-spacing: 5px;
  }
  .content .explore-btn {
    margin-top: 1rem;
    font-size: 3.8rem;
  }
  .current-page {
    margin-bottom: 2.8rem;
  }
  .current-page a {
    margin: 0 1rem;
  }
  .current-page a i {
    font-size: 3.6rem;
  }
  .right,
  .left {
    bottom: 2.2rem;
  }
  .right a i,
  .left a i {
    font-size: 3.6rem;
  }
  .right {
    right: 2rem;
  }
  .left {
    left: 2rem;
  }
  .more-container h1 {
    font-size: 4.6rem;
    letter-spacing: 4px;
  }
  .more-container p {
    font-size: 2.8rem;
    text-align: justify;
    margin: 3rem 0;
  }
}

@media (min-width: 1024px) {
  .welcome-page h1 {
    letter-spacing: 3px;
  }
  .welcome-page .explore-btn:hover {
    background-color: #0f2027;
  }
  .australia {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/australia-desktop.jpg") no-repeat;
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/australia-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .vietnam {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/vietnam-desktop.jpg") no-repeat;
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/vietnam-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .malaysia {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/malaysia-desktop.jpg") no-repeat;
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/malaysia-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .indonesia {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/indonesia-desktop.jpg") no-repeat;
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/indonesia-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .thailand {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 6, 15, 0.6)), to(rgba(10, 8, 0, 0.5))), url("./img/thailand-desktop.jpg") no-repeat;
    background: linear-gradient(to bottom, rgba(0, 6, 15, 0.6), rgba(10, 8, 0, 0.5)), url("./img/thailand-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  #header .hamburger div {
    height: 5.5px;
  }
  #header #desktop-tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #header #desktop-tips a {
    font-size: 2.4rem;
    padding: .5rem 1.5rem;
  }
  .content h1 {
    font-size: 8.4rem;
    letter-spacing: 5px;
  }
  .content .explore-btn {
    margin-top: 1rem;
    font-size: 2.8rem;
  }
  .content .explore-btn a {
    padding: .5rem 1rem .3rem 1rem;
  }
  .right,
  .left {
    bottom: 1.5rem;
  }
  .right a i,
  .left a i {
    font-size: 2.8rem;
  }
  .current-page {
    margin-bottom: 2.5rem;
  }
  .current-page a {
    margin: 0 1rem;
  }
  .current-page a i {
    font-size: 2.4rem;
  }
  #mobile-menu {
    display: none;
  }
  #desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
    height: 25vh;
    background: -webkit-gradient(linear, left top, right top, from(#081114), to(#0f232a));
    background: linear-gradient(to right, #081114, #0f232a);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  #desktop-menu.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  #desktop-menu .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #desktop-menu .contact div {
    margin: 0 2rem;
  }
  #desktop-menu .contact p {
    font-size: 3.2rem;
  }
  #desktop-menu .contact i {
    font-size: 2.4rem;
    padding: 1rem;
  }
  .more-container {
    padding: 4rem 10rem;
  }
  .more-container .gallery {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .more-container .gallery .pic1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .more-container .gallery .pic2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .more-container .gallery .pic3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}
/*# sourceMappingURL=Page.css.map */